@model IEnumerable<E_waste.Areas.Identity.Data.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Marketplace</h1>

    <p>
        <a asp-action="AddOrEdit" class="btn btn-primary">Post Product</a>
        <a asp-action="CreateRequest" class="btn btn-primary">Create Request</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@item.PhotoUrl" class="card-img-top" alt="Product Image" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Category:</strong> @item.Category</p>
                        <p class="card-text"><strong>Location:</strong> @item.PickupLocation</p>
                        <p class="card-text"><strong>Contact:</strong> @item.ContactNumber</p>
                        <p class="card-text"><strong>Listed Date:</strong> @item.ListedDate.ToShortDateString()</p>
                        <a asp-action="Request" asp-route-id="@item.ProductId" class="btn btn-primary">Request</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
